@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #d6a504;
  --secondary-color: #ffffff;
  --tertiary-color: #d6a504;
  --text-dark: #2e1800;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font-1: "Alfa Slab One", serif;
  --header-font-2: "Bebas Neue", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
}

.section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.section-main h1{
  color: rgba(255, 255, 255, 0.5);
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}

.icon img {

  height: 25px; 
}


header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  transition: 0.6s;
}

header.sticky{
  background: #d6a504;
  padding: 2px 10px;
}

header .brand{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

header .fb{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .fb a{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property:var(--primary-color)
}

header .fb a:hover{
  color: #000;
  background: #fff;
}

header .btn{
  color: #d6a504;
  font-size: 25px;
  cursor: pointer;
  display: none;
}


.section-two p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin: 30px 0;
}

@media (max-width: 1060px){
  header .btn{
    display: block;
  }

  header .fb{
    
    position: fixed;
    background: #d6a504;
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 10px 50px; 
    transition: 0.5s;
    transition-property: right;
  }

  header .fb.active{
    right: 0;
  }

  header .fb .close-btn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .fb a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
  }
}

@media (max-width: 630px){
  .section-main h1{
    font-size: 50px;
    line-height: 60px;
  }
}



.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--header-font-1);
  color: var(--primary-color);
  text-align: center;
  line-height: 3.75rem;
  text-shadow: 2px 2px var(--secondary-color);
}

.section__description {
  font-weight: 500;
  color: var(--text-dark);
  line-height: 1.75rem;
}

.btn {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--tertiary-color);
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
  padding: 10px 0; /* Adjusted padding */
}

/* New CSS for Navbar Links */
.nav__links {
  position: fixed;
  top: 60px; /* Adjust top value according to your design */
  left: 0;
  width: 100%;
  padding: 2rem 0; /* Adjusted padding */
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 600;
  white-space: nowrap;
  color: var(--white); /* Adjust link color as needed */
  transition: 0.3s;
  font-size: 14px; /* Adjusted font size */
}

.nav__links a:hover {
  color: var(--primary-color); /* Adjust hover color as needed */
}

.nav__links a {
  font-weight: 600;
  white-space: nowrap;
  color: var(--white); /* Adjust link color as needed */
  transition: 0.3s;
}

.nav__links a:hover {
  color: var(--primary-color); /* Adjust hover color as needed */
}
.header__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.header__image img {
  max-width: 600px;
  margin-inline: auto;
}

.header__content h2 {
  max-width: 400px;
  margin-inline: auto;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font-2);
  color: var(--white);
  border: 2px dashed var(--primary-color);
  text-align: center;
}

.header__content h1 {
  font-size: 4.5rem;
  font-weight: 500;
  font-family: var(--header-font-1);
  color: var(--primary-color);
  line-height: 3.5rem;
  text-align: center;
  text-shadow: 2px 2px var(--white);
}

.header__content h1 span {
  font-size: 3rem;
}

.section-main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(assets/header-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.section-main h1{
  color: rgba(255, 255, 255, 0.5);
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 80px;
}
.banner__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr); /* Change to 3 columns */
  grid-template-rows: repeat(3, 1fr); /* Ensure 3 rows with equal height */
}

.banner__card {
  position: relative;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: auto; /* Set height to auto */
}

/* Adjust hover effect */
.banner__card:hover {
  transform: scale(1.05);
}

/* Adjust overlay for text */
.banner__card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.banner__card:hover::before {
  opacity: 1;
}

/* Adjust text style */
.banner__card p,
.banner__card h4 {
  position: relative;
  z-index: 1;
  color: var(--white);
  text-align: center;
  margin: 0;
  transition: opacity 0.3s ease;
}

.banner__card:hover p,
.banner__card:hover h4 {
  opacity: 1;
}

.banner__card p {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.banner__card h4 {
  font-size: 2rem;
  font-weight: 600;
}

/* Assign background images */
.banner__card:nth-child(1) {
  background-image: url("assets/banner-1.jpg");
}

.banner__card:nth-child(2) {
  background-image: url("assets/banner-2.jpg");
}

.banner__card:nth-child(3) {
  background-image: url("assets/banner-3.jpg");
}

.banner__card:nth-child(4) {
  background-image: url("assets/banner-4.jpg");
}

.banner__card:nth-child(5) {
  background-image: url("assets/banner-5.jpg");
}

.banner__card:nth-child(6) {
  background-image: url("assets/banner-6.jpg");
}

.banner__card:nth-child(7) {
  background-image: url("assets/banner-7.jpg");
}

.banner__card:nth-child(8) {
  background-image: url("assets/banner-8.jpg");
}

.banner__card:nth-child(9) {
  background-image: url("assets/banner-9.jpg");
}

.banner__card p {
  margin-bottom:  0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}

.banner__card h4 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
}

.order__container h3 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--header-font-2);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.order__container .section__header {
  margin-bottom: 1rem;
}

.order__container .section__description {
  margin-bottom: 2rem;
  text-align: center;
}

.order__grid {
  display: grid;
  gap: 2rem 1rem;
}

.order__card {
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: 0.3s;
}

.order__card:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.order__card img {
  max-width: 250px;
  margin-inline: auto;
  margin-bottom: 2rem;
  filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.3));
}

.order__card h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.order__card p {
  margin-bottom: 2rem;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 1.75rem;
}

.event__content {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.event__details {
  text-align: center;
}

.event__details h3 {
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--header-font-2);
  color: var(--text-dark);
}

.event__details .section__header {
  margin-bottom: 1rem;
}
 
/* Modal Overlay */
/* Modal Overlay */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); 
  overflow: hidden; /* Prevents page scrolling when modal is open */
  animation: fadeIn 0.5s;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* Adjusted margin to lower the modal */
  padding: 20px;
  border: 1px solid #888;
  width: 35%; 
  border-radius: 10px;
  transform: scale(0.7);
  animation: scaleUp 0.5s forwards;
  max-height: 70%; /* Ensure modal content fits within viewport */
  overflow-y: auto; /* Adds scroll inside the modal if content is too long */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
}

.close:hover,
.close:focus {
  color: #000;
  transform: rotate(90deg);
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

/* Centering the Product Preview */
.products-preview {
  position: fixed;
  top: 10%; /* Adjusted top to lower the product preview */
  left: 0;
  height: 90%;
  width: 100%;
  background: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.products-preview.active {
  opacity: 1;
  pointer-events: auto;
}

.products-preview .preview {
  display: none;
  padding: 2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin: auto;
  width: 30rem;
  max-height: 70%; /* Ensure preview content fits within viewport */
  overflow-y: auto; /* Adds scroll inside the preview if content is too long */
  transform: scale(0.7);
  transition: transform 0.3s ease-in-out;
}

.products-preview .preview.active {
  display: block;
  transform: scale(1);
}

/* Adjusted Image Size */
.products-preview .preview img {
  height: auto;
  max-height: 8rem; /* Reduced max-height for smaller image */
  width: auto;
  max-width: 100%; /* Ensures image doesn't exceed container width */
  transition: transform 0.3s;
}

.products-preview .preview:hover img {
  transform: scale(0.10);
}

.products-preview .preview .fa-times {
  position: absolute;
  top: 1rem; 
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 2rem;
  transition: transform 0.3s, color 0.3s;
}

.products-preview .preview .fa-times:hover {
  transform: rotate(90deg);
  color: #d6a504;
}


.footer {
  background-image: url("assets/footer-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__logo img {
  max-width: 250px;
}

.footer__content {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.footer__content p {
  font-weight: 5500;
  color: var(--white);
  line-height: 1.75rem;
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer__links li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: var(--white);
}

.footer__links li span {
  font-size: 1.25rem;
}

.footer__socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.5rem;
  color: var(--white);
}

.footer__socials a:hover {
  color: var(--secondary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--white);
  text-align: center;
}

@media (width > 540px) {
  .banner__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner__card:nth-child(1) {
    grid-area: 1/1/2/3;
  }

  .order__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo img {
    max-width: 250px;
  }

  .nav__logo-dark {
    display: flex;
  }

  .nav__logo-white {
    display: none;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
    z-index: 1;
  }

  .nav__links a {
    color: var(--white); /* Changed to white */
  }

  .nav__links a:hover {
    color: var(--tertiary-color);
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__content h2 {
    margin-inline-start: unset;
  }

  .header__content h1 {
    text-align: left;
  }

  .banner__card {
    padding: 1.5rem;
  }

  .banner__card:nth-child(1) {
    grid-area: 1/1/3/2;
  }

  .order__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .event__content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .event__image {
    grid-area: 1/2/2/3;
  }

  .event__details,
  .event__details .section__header {
    text-align: left;
  }

  .reservation__container form {
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }

  .reservation img {
    display: flex;
    position: absolute;
    z-index: -1;
  }

  .reservation__bg-1 {
    left: 0;
    top: 0;
    width: clamp(100px, 25vw, 350px);
  }

  .reservation__bg-2 {
    right: 0;
    bottom: 0;
    width: clamp(100px, 20vw, 250px);
  }

  footer {
    background-image: url("assets/footer-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
    position: static;
    bottom: 0;
    width: 100%;
    z-index: 999; /* Ensure it's on top of other content */
}
.footer__logo img {
  max-width: 150px;
}
.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
    width: 30%; /* Adjust as needed */
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}
.saying {
  text-align: center;
  margin-bottom: 40px;
}

.saying p {
  font-size: 1.2rem;
  color: #555;
}

.saying-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}.saying {
  text-align: center;
  margin-bottom: 40px;
}

.saying p {
  font-size: 1.2rem;
  color: #555;
}

.home-container {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddab08;
}

.profile-card {
    position: relative;
    width: 220px;
    height: 220px;
    background-color: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
    transition: all .4s;
    margin: 0 20px;
}

.profile-card:hover {
    border-radius: 10px;
    height: 260px;
}

.profile-card .img {
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-card:hover img {
    border-radius: 10px;
    transform: translateY(-70px);
}

.img img {
    object-fit: fill;
    width: 100%;
    border-radius: 50%;
    transition: all .4s;
    z-index: 99;
}

.caption {
    text-align: center;
    transform: translateY(-90px);
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.profile-card:hover .caption {
    opacity: 1;
    pointer-events: all;
}

.caption h3 {
    font-size: 21px;
    color: #d6a504;
    font-weight: 600;
}

.caption p {
    font-size: 15px;
    font-weight: 500;
    margin: 2px 0 12px 0;
}

.caption .social-links i {
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
    color: #333;
    transition: all .4s;
}

.caption .social-links i:hover {
    color: #d6a504;
}
}